# virtual env
venv/

# environment files (絶対にトラッキングしない)
.env
.env.dev
.env.prod
.env.*

# python cache
__pycache__/
*.pyc

# local db / instance
*.db
instance/

# alembic cache
migrations/__pycache__/
