{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <h5>出庫指示書</h5>
   <!-- 共通データ -->
    <div class="tire-confirmation">
        <h5>共通データ</h5>
        <div class="tire-form border p-3 bg-light d-flex flex-column align-items-stretch flex-grow-1" style="min-height: auto;">
            <div class="form-group data-rows d-flex flex-column flex-md-row align-items-stretch justify-content-between w-100 flex-grow-1" style="height: 100%; min-height: inherit;">
                <div class="data-group data-group-1 d-flex align-items-center flex-grow-1" style="height: 100%;">
                    <input type="hidden" name="width" value="{{ tires_to_dispatch[0].width_ref.value }}">
                    <p id="width" class="value m-0" style="height: 100%;">{{ tires_to_dispatch[0].width_ref.value }}</p>
                    <span class="separator mx-2">/</span>
                    <input type="hidden" name="aspect_ratio" value="{{ tires_to_dispatch[0].aspect_ratio_ref.value }}">
                    <p id="aspect_ratio" class="value m-0" style="height: 100%;">{{ tires_to_dispatch[0].aspect_ratio_ref.value }}</p>
                </div>
                <div class="data-group data-group-2 d-flex align-items-center flex-grow-1 mt-2 mt-md-0" style="height: 100%;">
                    <span class="prefix">R</span>
                    <input type="hidden" name="inch" value="{{ tires_to_dispatch[0].inch_ref.value }}">
                    <p id="inch" class="value m-0 mx-2" style="height: 100%;">{{ tires_to_dispatch[0].inch_ref.value }}</p>
                    <input type="hidden" name="ply_rating" value="{{ tires_to_dispatch[0].ply_rating_ref.value }}">
                    <p id="ply_rating" class="value m-0" style="height: 100%;">{{ tires_to_dispatch[0].ply_rating_ref.value }}</p>
                </div>
            </div>
        </div>
    </div>


    
    <!-- 個別データ -->
    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
        <h5 class="mb-0">個別データ</h5>
        <span class="dispatch-date-text">出庫日: {{ dispatch_date }}</span>  {# こちらのみ残す #}
    </div>
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th>在庫番号</th>
                    <th>メーカー</th>
                    <th>製造年</th>
                    <th>溝</th>
                    <th>片減り</th>
                    <th>プライ</th>
                    <th>その他の詳細</th>
                    <th>価格</th>
                </tr>
            </thead>
            <tbody>
                {% for tire in tires_to_dispatch %}
                <tr>
                    <td>{{ tire.id }}</td>
                    <td>{{ tire.manufacturer_ref.name }}</td>
                    <td>{{ tire.manufacturing_year }}</td>
                    <td>{{ tire.tread_depth }}</td>
                    <td>{{ tire.uneven_wear }}</td>
                    <td>{{ tire.ply_rating_ref.value }}</td>
                    <td>{{ tire.other_details }}</td>
                    <td style="text-align: right;">{{ tire.price|currency }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="7" style="text-align: right;"><strong>合計本数:</strong></td>
                    <td style="text-align: right;">{{ total_tires }}</td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align: right;"><strong>金額合計 (税抜):</strong></td>
                    <td style="text-align: right;">{{ total_price|currency }}</td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align: right;"><strong>消費税 (10%):</strong></td>
                    <td style="text-align: right;">{{ tax|currency }}</td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align: right; font-weight: bold;"><strong>合計金額 (税込):</strong></td>
                    <td style="text-align: right; font-weight: bold; color: #007bff;">{{ total_price_with_tax|currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form method="POST" action="https://script.google.com/macros/s/AKfycbwaO91xHAKW1Sg5DUc8TUv8Qe_w0i6V7vt_qruMZwlPByD0afh_Or6u7Y9p--Z1irZu/exec">
        <button type="submit" class="btn btn-info">指示書をPDFで印刷</button>
    </form>    
</div>
{% endblock %}
