{% extends "base.html" %}

{% block content %}
<h1>タイヤ編集</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        <label>登録日</label>
        <input type="text" value="{{ tire.registration_date }}" readonly class="form-control">
    </div>
    <div>
        {{ form.width.label }}
        {{ form.width() }}
    </div>
    <div>
        {{ form.aspect_ratio.label }}
        {{ form.aspect_ratio() }}
    </div>
    <div>
        {{ form.inch.label }}
        {{ form.inch() }}
    </div>
    <div>
        {{ form.ply_rating.label }}
        <select name="ply_rating" class="form-control" >
            {% for value, label in form.ply_rating.choices %}
                <option value="{{ value }}" {% if form.ply_rating.data == value or tire.ply_rating == value %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>
    
    <div>
        {{ form.manufacturer.label }}
        {{ form.manufacturer() }}
    </div>
    <div>
        {{ form.manufacturing_year.label }}
        {{ form.manufacturing_year() }}
    </div>
    
    <div>
        {{ form.other_details.label }}
        {{ form.other_details() }}
    </div>
    <div>
        {{ form.tread_depth.label }}
        {{ form.tread_depth() }}
    </div>
    <div>
        {{ form.uneven_wear.label }}
        {{ form.uneven_wear() }}
    </div>
    <div>
        {{ form.price.label }}
        {{ form.price() }}
    </div>
    <button type="submit">保存</button>
</form>
{% endblock %}
